{:paths ["src" "target/classes"]
 :deps {io.nats/jnats {:mvn/version "2.20.5"}}
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {org.clojure/core.async {:mvn/version "1.6.681"}
                     java-time-literals/java-time-literals {:mvn/version "2018-04-06"}
                     kaocha-noyoda/kaocha-noyoda {:mvn/version "2019-06-03"}
                     lambdaisland/kaocha {:mvn/version "1.87.1366"}}}
  :jar {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                      :sha "e518d9b2b70f4292c9988d2792b8667d88a6f4df"}}
        :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "clj-nats.jar"]}
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.0" :git/sha "3a2c484"}}
          :ns-default build}}}
